body{
    background: #B2FEFA;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #0ED2F7, #B2FEFA);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #0ED2F7, #B2FEFA); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
ul{
    padding: 0;
    margin: 0;
}
li{
    list-style: none;
    margin: 2px 0;
    display: inline-block;
}
span{
    display: inline-block;   
}
button{
    border: 1px solid rgb(77, 76, 76);
}
/*框架*/
.wrapper{
    max-width: 400px;
    margin: 120px auto;
}
.todo-box{
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    z-index: 0;
}
/*header*/
.todo_head{
    text-align: center;
}
/*middle*/
.todo_mid{
    margin-top: 10px;
    margin-bottom: 10px;
}
/*footer*/
.todo_fot_text{
    font-size: 1.2em;
    font-weight: 400;
    display: inline-block;
    padding-right: 20px;
}
/*change*/
.todo_change{
    position: absolute;
    top: 50%;
    left: 50%;
    transform:translate(-50%,-50%) ;
    z-index: 1;
}
/*input*/
.todo_input{
    outline-color: #0ED2F7 ;
    font-size: 18px;
    width: 250px;
    height: 25px;
}
/*btn*/
.todo_btn{
    height: 30px;
    background-color: rgb(193, 11, 238);
}
/*compoment*/
.li-style{
    font-size: 1.2em;
}
.fas{
    color: #fff;
}
/*input span*/
.todo_ipt{
    vertical-align: top;
    line-height: 36px;
    width: 226px;    
    background-color: #f2f2f2;
    margin-right: -5px;
    outline: none;
    border: 1px solid black;
}
/*sapn icon*/
.todo_span{
    vertical-align: top;
    line-height: 30px;
    width: 230px;    
    background-color: #f2f2f2;
    margin-right: -3px;
    text-indent: 15px;
    padding: 5px 0;
}
.edit{
    color: #fff;
    background-color: rgb(128, 36, 36); 
    width: 30px; 
    line-height: 40px;
    margin-right: -5px;
    text-align: center;
    padding: 0 5px;
}
.editbtn{
    color: #fff;
    background-color: rgb(128, 36, 36); 
    width: 30px; 
    line-height: 40px;
    margin-right: -5px;
    text-align: center;
    padding: 0 5px;
}
.delbtn{
    color: #fff;
    background-color: rgb(243, 48, 48);
    width: 30px;
    line-height: 40px;
    text-align: center;
    padding: 0 5px;
}
.checkbtn{
    color: #fff;
    background-color: rgb(66, 240, 51);
    width: 30px;
    line-height: 40px;
    text-align: center;
    padding: 0 5px;
    margin-left: -5px;
}
/*remove*/
.remove{
    padding: 5px 10px;
    color: #fff;
    background-color: #d819d8;
    font-family: Arial, Helvetica, sans-serif;
}
/*title*/
.todo_title{
    font-weight: bold;
    padding-left: 10px;
}