body{
    background: #000000;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #434343, #000000);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #434343, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */    
}
ul{
    padding-top: 10px;
    padding-left: 0px;
}
li{
    list-style: none;
    margin-bottom: 10px ;
}
button{
    border:0;
    background-color: transparent;    
    color: #fff;
}
.fas{
    color: #fff;
}
/*框架*/
.wrapper{
    margin:  0 auto;
    width: 500px;
}
.todo{
    text-align: center;
    font-size: 1.8em;
    margin-bottom: 20px;
}
.list{
    font-size: 1em;
    margin:  0 auto;
    width: 400px;}
/*btn*/
.btn_add{
    outline: none;
    border: 1px solid #fff;
    background-color: #fff;
    border-radius: 20px;
    cursor: pointer;
}
.popuer{
    color: rgb(	138,43,226);
}
.editbtn{
    color: rgb(0,0,128);
    background-color: #fff;
    border-radius: 20px;
}
.delbtn{
    color: rgb(0,0,128);
    background-color: #fff;
    border-radius: 20px;
    margin-right: 10px;
    margin-left: 10px;
}
/*title*/
.todo_title{
    background: linear-gradient(to right, #fc7a00,  #ffc402);
    background: -webkit-linear-gradient(to right, #fc7a00, #ffc402, #ffaf7b);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    font-weight: bold;
    font-size: 3em;
    text-align: center;
}
/*footer*/
.footer{
    text-align: center;
}
.footer_p{
    display: inline-block;
    padding: 6px 20px;
    font-size: 1.5em;
    font-family: serif;
    font-weight: 900;
    border: 1px solid #fff;
    border-radius: 30px;
    background: linear-gradient(to right, #fc7a00,  #ffc402);
    background: -webkit-linear-gradient(to right, #fc7a00, #ffc402, #ffaf7b);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    cursor: pointer;
}
/*list*/
.todo_val{
    width: 290px;
    display: inline-block;
    padding: 0px 0px 0px 15px;
    margin: 0;
    color: rgb(	127,255,0);
    background-color: rgb(255, 255, 255,0.1);
}
.todo_li{
    font-size: 1.8em;
}
.todo_ipt{
    width: 300px;
    display: inline-block;
}